body{
    font-family: Helvetica;
}
article{
    background-color: #E0E0E0;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
figure img{
    width: 50%;
}
.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment{
    padding: 5px;
}
section{
    position: relative;
    bottom: 2px;
}

#topbar .btn{
    font-size: 16px;
}

#search{
    margin-bottom: -8px;
}

.paginator{
    margin-left: 22px;
}