{% load static %}
{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/my_styles.css' %}">
<link rel="stylesheet" href="{% static 'fonts/glyphicons-halflings-regular.woff2' %}">
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src={% static 'js/bootstrap.js' %}></script>

<title>
    {% block title %}
        Notes
    {% endblock %}
</title>
</head>

<body>
<!-- Start Top Bar -->
    <nav class="navbar navbar-inverse" id="topbar">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li><a href={% url 'home_page' %}>Home</a></li>
            <li><a href="{% url 'post_create' %}">Add Post</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="#">{{ user.username }}</a></li>
                <li><a href="{% url 'auth_logout' %}?next={% url 'home_page' %}"> Logout</a></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
                <li><a href="{% url 'auth_login' %}">Login</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>
<!-- End Top Bar -->
<div class="container">
{% block filter %}
    {% include 'landing/filters.html' %}
{% endblock %}
{% block content %}
    {% include 'landing/content.html' %}
{% endblock %}
</div>
<div id="footer">
    {% block footer %}
        <hr/>
    {% endblock %}
</div>
</body>

</html>
