{% block content %}
    <div class="container">
        <div class="row">
            {% for post in post_list %}
                <div class="col-md-10 col-sm-9 col-xs-12">
                    <article>
                        <div class="row">
                            <div class="col-sm-6 col-md-4">
                                <figure>
                                    <img src={{ post.image.url }}>
                                </figure>
                            </div>
                            <div class="col-sm-6 col-md-8">

                                {% if post.note_set.count != 0 %}
                                    <span class="label label-default pull-right"><i class="glyphicon glyphicon-comment"></i>{{ post.note_set.count }}</span>
                                {% endif %}
                                <h5><b>{{ post.title }}</b></h5>
                                <p>{{ post.content }}</p>
                                <section>
                                    <i class="glyphicon glyphicon-folder-open"></i> {{ post.category }}
                                    <i class="glyphicon glyphicon-user"></i>{{ post.author }}
                                    <i class="glyphicon glyphicon-calendar"></i>{{ post.post_created|date }}
                                    <i class="glyphicon glyphicon-eye-open"></i>{{ post.views }}
                                </section>
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">More
                                        <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu" role="menu">
                                    {% if post.author_id == user.id %}
                                        <li><a class="dropdown-item" href="{% url 'post_edit' post.slug %}">Edit</a></li>
                                        <li><a class="dropdown-item" href="{% url 'post_delete' post.slug %}">Delete</a></li>
                                    {% endif %}

                                    {% if post.note_set.count != 0 %}
                                        <li><a class="dropdown-item" href="{% url 'post_details' post.slug %}">View all</a></li>
                                    {% endif %}

                                    {% if post.category == 'url' %}
                                        <li><a class="dropdown-item" href="{{ post.link }}">Link</a></li>
                                    {% endif %}

                                    {% if post.file %}
                                        {% if user.is_authenticated %}
                                            <li><a class="dropdown-item" href="{{ post.file.url }}">Download</a></li>
                                        {% else %}
                                            <li><a class="dropdown-item" href="{% url 'auth_login' %}">Login for download</a></li>
                                        {% endif %}
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
        <!-- Pagination -->
        <div class="paginator">
            {% if is_paginated %}
                <ul class="pagination">
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}