{% extends 'base.html' %}
{% block content %}
<form action="" method="post">{% csrf_token %}
<div class="container">
    <div class="row">
        <h2>
            Подтвердите удаление объекта</h2>
        <div class="col-md-12">
            <input class="btn btn-primary" type="submit" value="Подтвердить"/>
            <button onclick="window.history.back();" class="btn btn-danger" type="button">Отмена</button>
        </div>
    </div>
</div>
</form>
{% endblock %}
