{% block filter %}
{#    <div class="container">#}
        <div class="col-lg-offset-10">
            <form id="search" method="get" action="{% url 'home_page' %}">
                <div class="input-group">
                <input class="form-control" placeholder="Search this site" type="text" name="search">
                        <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                {{ filter.form.as_p }}
                <button class="btn btn-primary" type="submit">Filter</button>
            </form>
        </div>
{#    </div>#}
{% endblock %}