{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        {% for note in note_list %}
            <div class="col-lg-10 col-md-8 col-sm-9 col-xs-12">
                <article>
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <figure>
                            <img src={{ note.post.image.url }}>
                        </figure>
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <div>
                                {% if note.post.category == "video" %}
                                    <a href={{ note.note_url }}>{{ note.note_comment }}</a>
                                {% else %}
                                    <a class="button" href={{ note.note_url }}>Source Link</a><br>
                                    {% autoescape off %}
                                    {{ note.note_comment }}
                                    {% endautoescape %}
                                {% endif %}
                                <div class="mic-info">
                                    Author: {{ note.post.author }}<br> Date: {{ note.note_created }}
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}